<template>
<div>
    <!-- Banner Section End -->
		<section id="search_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<input type="text" class="form-control" placeholder="I'm looking for...">					
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-2">
						<input type="text" class="form-control" placeholder="5 miles radius">
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-2">
						<button class="btn btn-default" style="border-color:white;text-color:white;background:rgb(255, 89, 117);" type="button">Go!</button>
					</div>
					<div class="col-lg-3">
						<p> <span style="color:rgb(255, 89, 117);">123</span> PEOPLE LOOKING TO RENT
							<br/>
							<span style="color:rgb(255, 89, 117);">1235</span> PROPERTIES/ROOMSAVAILABLE
						</p>
					</div>
				</div><!-- /.row -->
			</div>	
		</section>
		<section id="filter_area">
			<div style="padding-right: 15px;
  						padding-left: 15px;
						margin-right: 10px;
						margin-left: 10px;">
		<!-- Single button -->
				<div class="row">
					<div class="btn-group btn-group-justified">
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-left-color: rgb(209, 209, 209);">
								Location 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Postcode 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Property Type 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn  item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Bedrooms 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Rent 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
						<div class="btn-group lan-drop" role="group">
							<button type="button" class="btn item-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="white-space: nowrap;">
								Tenants Looking
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Read directly from data base</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Property List Start -->
		<section id="property_area">
			<div class="container">
				<div class="row">
					<!-- Left Sidebar -->
					<div class="col-md-4">
						<div class="property_sidebar">
							<div class="price_range sidebar-widget">
								<h4 class="widget-title">Price</h4>
								<form class="price-filter" action="#" method="post">
									<span class="price-slider">
										<input class="filter_price" type="text" name="price" value="0;1000000" />
									</span>
								</form>								
							</div>
							<div class="price_range sidebar-widget">
								<h4 class="widget-title">Area</h4>
								<form class="area-filter" action="#" method="post">
									<span class="price-slider">
										<input class="area_filter" type="text" name="price" value="0;10000" />
									</span>
								</form>								
							</div>
							<div class="advance_search sidebar-widget">
								<h4 class="widget-title">Advance Search</h4>
								<form method="post" class="search_form" action="#">
									<div class="row">
										<div class="col-md-12 col-sm-6">
											<select class="selectpicker form-control">
												<option>Any Status</option>
												<option>For Rent</option>
												<option>For Sale</option>
											</select>
										</div>
										<div class="col-md-12 col-sm-6">
											<select class="selectpicker form-control">
												<option>Any Type</option>
												<option>House</option>
												<option>Office</option>
												<option>Appartment</option>
												<option>Condos</option>
												<option>Villa</option>
												<option>Small Family</option>
												<option>Single Room</option>
											</select>
										</div>
										<div class="col-md-12 col-sm-6">
											<select class="selectpicker form-control" data-live-search="true">
												<option>Any States</option>
												<option>New York</option>
												<option>Sydney</option>
												<option>Washington</option>
												<option>Las Vegas</option>
											</select>
										</div>
										<div class="col-md-12 col-sm-6">
											<select class="selectpicker form-control" data-live-search="true">
												<option>All City</option>
												<option>New York</option>
												<option>Sydney</option>
												<option>Washington</option>
												<option>Las Vegas</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<select class="selectpicker form-control">
												<option>Beds</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>6</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<select class="selectpicker form-control">
												<option>Baths</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
										</div>
										<div class="col-md-12 col-sm-6">
											<button name="search" class="btn btn-default" type="submit">search property</button>
										</div>
									</div>
								</form>
							</div>
							<div class="sidebar_agent sidebar-widget">
								<h4 class="widget-title">Our Agent</h4>
								<div class="member-widget-view">
									<div class="item">
										<div class="team_img"> 
											<div class="profile-pic"><img src="img/teams/1.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Taylor Swift</h5></a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="team_img">
											<div class="profile-pic"><img src="img/teams/2.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Susan White</h5></a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="team_img">
											<div class="profile-pic"><img src="img/teams/3.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Johan Dow</h5></a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="team_img">
											<div class="profile-pic"><img src="img/teams/4.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Lisa Milk</h5></a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="team_img">
											<div class="profile-pic"><img src="img/teams/5.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Susan White</h5></a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="team_img"> 
											<div class="profile-pic"><img src="img/teams/6.jpg" alt=""></div>
											<div class="member_info">
												<a href="agent_profile.html"><h5 class="member-name">Taylor Swift</h5></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar_tesimonial">
								<h4 class="widget-title">Clients Feedback</h4>
								<div class="feedback_small">
									<div class="item">
										<div class="testimonial_person">
											<img class="avata" src="img/testimonial/Johan-swift.png" alt="">
											<h6 class="client_name">Leandro Crocker</h6>
											<span>commercial leader</span>
										</div>
										<p>“ Nisi fermentum augue etiam convallis mollis consectetuer bibendum. Gravida. Purus praesent urna fringilla magna lacinia praesent vivamus. Quis adipiscing. Dictum sociosqu lectus. Nulla nascetur vitae praesent elit habitasse.”</p>
									</div>
									<div class="item">
										<div class="testimonial_person">
											<img class="avata" src="img/testimonial/Johan-swift.png" alt="">
											<h6 class="client_name">Leandro Crocker</h6>
											<span>commercial leader</span>
										</div>
										<p>“ Nisi fermentum augue etiam convallis mollis consectetuer bibendum. Gravida. Purus praesent urna fringilla magna lacinia praesent vivamus. Quis adipiscing. Dictum sociosqu lectus. Nulla nascetur vitae praesent elit habitasse.”</p>
									</div>
									<div class="item">
										<div class="testimonial_person">
											<img class="avata" src="img/testimonial/Johan-swift.png" alt="">
											<h6 class="client_name">Leandro Crocker</h6>
											<span>commercial leader</span>
										</div>
										<p>“ Nisi fermentum augue etiam convallis mollis consectetuer bibendum. Gravida. Purus praesent urna fringilla magna lacinia praesent vivamus. Quis adipiscing. Dictum sociosqu lectus. Nulla nascetur vitae praesent elit habitasse.”</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Left Sidebar -->
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="property_sorting">
									<form class="property_filter" action="#" method="post">
										<div class="property_view">
											<ul>
												<li> <a href="property_grid.html">Default Order</a></li>
												<li> <a href="property_grid.html">Featured</a></li>
												<li> <a href="property_grid.html">Price Hight</a></li>
												<li> <a href="property_grid.html">Price Low</a></li>
												<li>
													<a href="property_grid.html"><i class="fa fa-th" aria-hidden="true"></i></a>
												</li>
												<li>
													<a class="active" href="property_list.html"><i class="fa fa-th-list" aria-hidden="true"></i></a>
												</li>
											</ul>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- Property List Start -->
						<view-component v-bind:ads="ads"></view-component>
						<!-- End Property list -->
						<div class="row">
							<div class="col-md-12">
								<div class="pagination_area">
									<nav aria-label="Page navigation">
										<ul class="pagination pagination_edit">
											<li>
												<a href="#" aria-label="Previous">
													<span aria-hidden="true">prev</span>
												</a>
											</li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">next</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Property List End -->
</div>
</template>

<script>
    export default {
		data: function () {
            return {
                ads: [],
                filtredAds:[]
            }
		},
		methods:{
            getAds(){
                return axios.get('/API/Rest/V1/getAllAds');
			}
		},
        mounted() {
			this.$nextTick(function() {
				this.getAds().then((response) => {
                    // do what you need to do
                    console.log(response.data);
                    this.ads=response.data;
                })
			})
        }
    }
</script>
