<template>
    <div class="row">
        <div v-for="ad in ads"  v-bind:key="ad.id_ad" class="col-md-12">
            <div class="property_list">
                <div class="img_area list_img">
                    <div class="sale_btn">Rent</div>
                    <a href="#"><img src="img/property_list/property_list-1.png" alt=""></a>
                    <div class="sale_amount">{{ad.created_at}}</div>
                    <div class="hover_property">
                        <ul>
                            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="list_type">
                    <div class="property-text">
                        <a href="#"><h5 class="property-title">{{ad.proprety_type}}</h5></a>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>N°:{{ad.house_number}}.{{ad.address_line_1}},{{ad.postcode}},{{ad.town}}</span>
                        <div class="quantity">
                            <ul>
                                <li><span>Advertised by:</span>{{ad.advertiser_type}}</li>
                                <li v-if="ad.email_contact!= null"><span>Email:</span>{{ad.email_contact}}</li>
                                <li v-if="ad.phone_contact!= null"><span>Phone:</span>{{ad.phone_contact}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="bed_area">
                        <ul>
                            <li v-if="ad.monthly_rent!= null">{{ad.monthly_rent}}£/mo</li>
                            <li class="flat-icon"><a href="#"><i class="flaticon-like"></i></a></li>
                            <li class="flat-icon"><a href="#"><i class="flaticon-connections"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</template>
<script>
    export default {
        props:[
            'ads'
        ]
        // data: function () {
        //     return {
        //         taskDate:'',
        //         taskComment:''
        //     }
        // },
        // methods:{
               
        // }
    }
    
</script>